﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management</title>
    @Styles.Render("~/Content/css")

</head>
<body>
    <div class="container">
        <header class="header">
            <div class="content-wrapper">
                <div class="imgwrapper1">
                    <div class="coatofarms"></div>
                </div>
                <div class="imgwrapper2">
                    <div class="title">User Management Application</div>
                </div>
                @if (Request.IsAuthenticated)
                {
                    @Html.Partial("Login/_LoggedInPartial")
                }
                <div class="clear"></div>
            </div>
        </header>
        <section class="content">
            <div class="menubar">
                <div class="menux">
                    <a class="menulink" href="/"><div class="menuitemx">Home</div></a>
                    <a class="menulink" href="http://localhost:21123/"><div class="menuitemx">Web Api</div></a>
                    @if (!Request.IsAuthenticated)
                {
                <a class="menulink" href="/Register"><div class="menuitemx right">Register</div></a>
                <a class="menulink" href="/Login"><div class="menuitemx right" style="border-right:none">Login</div></a>
                }
                    <div class="clear"></div>
                </div>
            </div>

            <div class="contentwrapper dottedbg">
                @RenderSection("featured", required: false)
                <section class=" main-content clear-fix">
                    @RenderBody()
                </section>
            </div>
        </section>
        <footer class="footer">
            <div class="footernote">©@(DateTime.Now.Year) - Iris Smart Technologies Ltd</div>
        </footer>
</div>
</body>
@Scripts.Render("~/bundles/master")
@Scripts.Render("~/bundles/jqueryval")
@RenderSection("scripts", required: false)

</html>

