﻿@{
    ViewBag.Title = "UMA";
}

@Styles.Render("~/Content/app")
@model UMA.Models.BaseModel
<div class="maindiv shadow">
    @if (Model.OperatorType == 3)
    {
        <div class="noaccessmsg bigfirstletter">You do not have access to any functions on this portal.</div>
    }
    else
    { 
     <div>
        @if (Model.OperatorType == 2)
        {
            <div class="branchheader bigfirstletter">@Model.BranchName branch</div>
            <hr class="hrclass2" />
        }
        <div class="groupboxtitle">Application Management</div>
        <div class="groupbox approles open">
            
        @if (Model.OperatorType == 1)
        { 
            <div class="groupboxinnerwrap">
                <div class="groupboxinnertitle">Create/Edit Application</div>
                <div class="groupboxinner">
                    <form method="post" action="@Url.Action("CreateApp", "Application")" data-uma-partial="true" data-uma-target="appeditdiv" data-uma-success="Application successfully created">
                        <div class="spacebot">@Html.TextBoxFor(m => m.NewAppName, new { @class = "textbox2", placeholder = "Create new application" })</div>
                        <div class="spacebot">
                            @Html.TextBoxFor(m => m.Icon, new { @class = "left textbox2", placeholder = "Application icon" })
                        </div>
                        <input type="submit" value="Create" class="genbutton left" />
                        <div class="loadingdiv left">
                            <div class="smallmodal"></div>
                        </div>
                        <div class="clear"></div>
                        <div id="creatappval" class="validationMessage apperror hidden">@Html.ValidationMessageFor(m => m.NewAppName)</div>
                    </form>
                    <div id="appeditdiv" class="groupboxedit">@Html.Partial("ApplicationManagement/_EditApplication", Model.Applications)</div>
                </div>
            </div>
            <div class="groupboxinnerwrap">
                <div class="groupboxinnertitle">Share Application Management</div>
                <div class="groupboxinner">
                    <form method="post" action="@Url.Action("GetSharedAppDetails", "Application")" data-uma-partial="true" data-uma-target="shareappdiv">
                        @Html.Hidden("SelectedSharedApp")
                        <div class="left">
                            @Html.Hidden("cmbShareApps", null, new { id = "cmbShareApps", @class = "inline selectbox" })
                        </div>
                        <div id="shareappload" class="loadingdiv left">
                            <div class="smallmodal"></div>
                        </div>
                        <div class="clear"></div>
                        <input id="getsharedappdetailsbtn" type="submit" class="genbutton hidden" />
                    </form>
                    <div class="hidden" id="shareappdiv"></div>
                </div>
            </div>
        }
            
        @if (Model.OperatorType == 1 || Model.OperatorType == 4)
        { 
            <div class="groupboxinnerwrap">
                <div class="groupboxinnertitle">Create Admin User</div>
                <div class="groupboxinner">
                    @Html.Hidden("SelectedAdminBranch")
                    <div class="branchesdiv">
                        <div class="left">
                            @Html.Hidden("cmbBranches", null, new { id = "cmbBranches", @class = "inline selectbox" })
                        </div>
                        <div id="adminsappload" class="loadingdiv left">
                            <div class="smallmodal"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div id="createappadmindiv"></div>
                </div>
            </div>
        }
        
        @if (Model.OperatorType == 1)
        {
            <div class="groupboxinnerwrap">
                <div class="groupboxinnertitle">Create Super User</div>
                <div class="groupboxinner">
                    @Html.Hidden("SelectedAdminBranchSU")
                    <div id="createappadmindivsu">
                        @Html.Partial("ApplicationManagement/ApplicationSuperusers", Model)
                    </div>
                </div>
            </div>
        }
        
        @if (Model.OperatorType == 2 || Model.OperatorType == 4)
        { 
            <div class="groupboxinnerwrap">
                <div class="groupboxinnertitle">Create User</div>
                @if (Model.OperatorType == 2)
                { 
                    <div class="groupboxinner">
                        <div id="createappadmindiv">@Html.Partial("ApplicationManagement/_ApplicationAdmins", Model)</div>
                    </div>
                }
                else
                {
                    <div class="groupboxinner">
                        <div>
                            <div class="left paddingbot">
                                @Html.Hidden("cmbSelectBranchCreateUser", null, new { id = "cmbSelectBranchCreateUser", @class = "inline selectbox" })
                            </div>
                            <div id="branchsuperuserload" class="loadingdiv left">
                                <div class="smallmodal"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        @Html.Hidden("SelectedSuperUserBranch")
                        <div id="createappuseriv"></div>
                    </div>
                }
            </div>
            <div class="groupboxinnerwrap">
                <div class="groupboxinnertitle">Approve User Request</div>
                @if (Model.UserRequests.Count == 0)
                { 
                    <div class="groupboxinner">
                        <div class="medfirstletter">No user requests pending approval</div>
                    </div>
                }
                else
                {
                    <div class="groupboxinner">
                        <div id="createappadmindiv">@Html.Partial("ApplicationManagement/_ApplicationUserRequests", Model)</div>
                    </div>
                }
            </div>
        }
        </div>
    </div>
    <div>
        <div class="groupboxtitle">Role@(Model.OperatorType == 1 ? " & Privilege" : "") Management</div>
        <div class="groupbox priviman open">
        @if (Model.OperatorType == 1)
        {
            <div class="groupboxinnerwrap">
                <div class="groupboxinnertitle">Create/Edit Privilege</div>
                <div class="groupboxinner">
                    <div>
                        @Html.Hidden("cmbEditPriviApps", null, new { id = "cmbEditPriviApps", @class = "inline selectbox" })
                    </div>
                    <div id="privieditdivwrap" class="hidden spacetopx2">
                        <form method="post" action="@Url.Action("CreatePrivi", "Privilege")" data-uma-partial="true" data-uma-target="privieditdiv" data-uma-success="Privilege successfully created">
                            @Html.Hidden("SelectedEditPriviApp")
                            <div class="formatinfo">Format: "take_picture", "approve_reg", "delete_user"</div>
                            @Html.TextBoxFor(m => m.NewPriviName, new { @class = "left textbox2", placeholder = "Create new privilege" })
                            <input type="submit" value="Create" class="genbutton left" />
                            <div class="loadingdiv left">
                                <div class="smallmodal"></div>
                            </div>
                            <div class="clear"></div>
                            <div id="editpriviapperr" class="validationMessage apperror hidden">@Html.ValidationMessageFor(m => m.NewPriviName)</div>
                        </form>
                        <div id="privieditdiv" class="groupboxedit hidden"></div>
                    </div>
                </div>
            </div>
        }   
            
        @for (int i = 1; i < Model.RoleTypes.Count + 1; i++ )
        {
            if (Model.RoleTypes[i - 1].IsApplicationLinked == 1 || Model.OperatorType == 1)
            { 
                <div class="groupboxinnerwrap">
                    <div class="groupboxinnertitle">Create/Edit Role Tier @(i) (@(Model.RoleTypes[i-1].Name) Roles)</div>
                    <div class="groupboxinner">
                        @if (Model.RoleTypes[i - 1].IsApplicationLinked == 1)
                        { 
                            <div>
                                @Html.Hidden("cmbEditRoleApps", null, new { id = "cmbEditRoleApps", @class = "inline selectbox" })
                            </div>
                    
                            <div id="roleeditdivwrap" class="approlesdiv hidden spacetopx2">
                                <form method="post" action="@Url.Action("CreateRole", "Role")" data-uma-partial="true" data-uma-target="roleeditdiv@(i)" data-uma-success="Role successfully created">
                                    @Html.Hidden("SelectedRoleApp")
                                    @Html.Hidden("IsAppLinked", Model.RoleTypes[i - 1].IsApplicationLinked)
                                    @Html.Hidden("RoleType", i)
                                    <div class="formatinfo">Format: "Capture picture", "Approval officer"</div>
                                    @Html.TextBoxFor(m => m.NewRoleName, new { @class = "left textbox2", placeholder = "Create " + (Model.OperatorType == 1 ? "new" : "custom") + " role" })
                                    <input type="submit" value="Create" class="genbutton left" />
                                    <div id="editroleload" class="loadingdiv left">
                                        <div class="smallmodal"></div>
                                    </div>
                                    <div class="clear"></div>
                                    <div id="creatappval" class="validationMessage apperror hidden">@Html.ValidationMessageFor(m => m.NewRoleName)</div>
                                </form>
                                <div id="roleeditdiv@(i)" class="groupboxedit"></div>
                            </div>
                        }
                        else
                        {                        
                            <div id="roleeditdivwrap" class="approlesdiv">
                                <form method="post" action="@Url.Action("CreateRole", "Role")" data-uma-partial="true" data-uma-target="roleeditdiv@(i)" data-uma-success="Role successfully created">
                                    @Html.Hidden("SelectedRoleApp")
                                    @Html.Hidden("IsAppLinked", Model.RoleTypes[i - 1].IsApplicationLinked)
                                    @Html.Hidden("RoleType", i)
                                    <div class="formatinfo">Format: "Capture picture", "Approval officer"</div>
                                    @Html.TextBoxFor(m => m.NewRoleName, new { @class = "left textbox2", placeholder = "Create " + (Model.OperatorType == 1 ? "new" : "custom") + " role" })
                                    <input type="submit" value="Create" class="genbutton left" />
                                    <div id="editroleload" class="loadingdiv left">
                                        <div class="smallmodal"></div>
                                    </div>
                                    <div class="clear"></div>
                                    <div id="creatappval" class="validationMessage apperror hidden">@Html.ValidationMessageFor(m => m.NewRoleName)</div>
                                </form>                           
                                <div id="roleeditdiv@(i)" class="groupboxedit">@Html.Partial("RolePriviManagement/_EditSystemRole", Model.Roles.Where(x => x.RoleType.RoleTypeId == Model.RoleTypes[i-1].RoleTypeId).ToList())</div>
                            </div>
                        }
                    </div>
                </div>
            }
            
            if (Model.OperatorType == 2 && i == 2)
            {
                <div class="groupboxinnerwrap">
                    <div class="groupboxinnertitle">Assign Role to User</div>
                    <div class="groupboxinner">
                        <div class="approlesdiv">
                            @Html.Hidden("SelectedUserId")
                            <div class="left">@Html.Hidden("cmbSelectUser", null, new { id = "cmbSelectUser", @class = "inline selectbox" })</div>
                            <div id="cmbselectusersload" class="loadingdiv left">
                                <div class="smallmodal"></div>
                            </div>
                            <div class="clear"></div>
                            <div class="hidden spacetop selectapp">
                                <div class="left">@Html.Hidden("cmbSelectApp", null, new { id = "cmbSelectApp", @class = "inline selectbox" })</div>
                                <div id="cmbselectappload" class="loadingdiv left">
                                    <div class="smallmodal"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div id="assignroleval" class="validationMessage apperror hidden"></div>
                            <div id="assignrolediv" class="hidden"></div>
                        </div>
                    </div>
                </div>
            }

            if (Model.OperatorType == 4 && i == 4)
            {
                <div class="groupboxinnerwrap">
                    <div class="groupboxinnertitle">Assign Role to User</div>
                    <div class="groupboxinner">
                        <div class="approlesdiv">
                            @Html.Hidden("SelectedSuperuserBranchId")
                            @Html.Hidden("SelectedUserId")
                            <div class="left">
                                @Html.Hidden("cmbSuperuserRoleBranch", null, new { id = "cmbSuperuserRoleBranch", @class = "inline selectbox" })
                            </div>
                            <div id="cmbsuperuserroleload" class="loadingdiv left">
                                <div class="smallmodal"></div>
                            </div>
                            <div class="clear"></div>
                            <div class="hidden spacetop selectuser">
                                <div class="left">@Html.Hidden("cmbSelectUser2", null, new { id = "cmbSelectUser2", @class = "inline selectbox" })</div>
                                <div id="cmbselectusersload" class="loadingdiv left">
                                    <div class="smallmodal"></div>
                                </div>
                                <div class="clear"></div>
                                <div class="hidden spacetop selectapp">
                                    <div class="left">@Html.Hidden("cmbSelectApp2", null, new { id = "cmbSelectApp2", @class = "inline selectbox" })</div>
                                    <div id="cmbselectappload" class="loadingdiv left">
                                        <div class="smallmodal"></div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div id="assignroleval" class="validationMessage apperror hidden"></div>
                                <div id="assignrolediv" class="hidden"></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        </div>
    </div>
    if (Model.OperatorType == 1)
    {
    <div>
        <div class="groupboxtitle">MVC Action &amp; Page Management</div>
         <div class="groupbox priviman open">
           <div class="groupboxinnerwrap">
                <div class="groupboxinnertitle">Define Action/Page</div>
                <div class="groupboxinner">
                    <div class="left">@Html.Hidden("cmbDefineActionApps", null, new { id = "cmbDefineActionApps", @class = "inline selectbox" })</div>
                    <div id="actionAppsload" class="loadingdiv left">
                        <div class="smallmodal"></div>
                    </div>
                    <div class="clear"></div>                  
                    <div id="defineactionswrap" class="hidden spacetopx2">
                        <form method="post" action="@Url.Action("CreateAction", "Action")" data-uma-partial="true" data-uma-target="defineactionsdiv">
                            @Html.Hidden("SelectedActionsApp")
                            <div class="createtext">Create new controller/action</div>
                            <div>@Html.TextBoxFor(m => m.NewActionControllerName, new { @class = "textbox2 capitalize", placeholder = "Enter controller name" })</div>
                            <div id="defineactioncerr" class="validationMessage hidden">@Html.ValidationMessageFor(m => m.NewActionControllerName)</div>
                            <div class="spacetop">@Html.TextBoxFor(m => m.NewActionName, new { @class = "left textbox2 capitalize", placeholder = "Enter action name" })</div>
                            <input type="submit" value="Create" class="genbutton left" />
                            <div id="createactionload" class="loadingdiv left">
                                <div class="smallmodal"></div>
                            </div>
                            <div class="clear"></div>
                            <div id="defineactionerr" class="validationMessage apperror hidden">@Html.ValidationMessageFor(m => m.NewActionName)</div>
                        </form>
                        <div id="defineactionsdiv" class="groupboxedit hidden"></div>
                    </div>
                </div>
           </div>
             <div class="groupboxinnerwrap">
                 <div class="groupboxinnertitle">Assign Action to Privilege</div>
                 <div class="groupboxinner">
                     <div class="left">@Html.Hidden("cmbAssignActionApps", null, new { id = "cmbAssignActionApps", @class = "inline selectbox" })</div>
                     <div id="assignactionAppsload" class="loadingdiv left">
                         <div class="smallmodal"></div>
                     </div>
                     <div class="clear"></div>
                     <div id="actionprividiv" class="hidden spacetop">
                         <div class="left">@Html.Hidden("cmbGetAppPrivis", null, new { id = "cmbGetAppPrivis", @class = "inline selectbox" })</div>
                         <div id="assignactionAppPrivisload" class="loadingdiv left">
                             <div class="smallmodal"></div>
                         </div>
                         <div class="clear"></div>
                     </div>
                     @Html.Hidden("SelectedAssignActionPrivilege")
                     <div id="assignactionswrap" class="hidden spacetopx2"></div>
                 </div>
             </div>
        </div>
    </div>
    }
    }
</div>
<div id="PopupMsg" class="PopupWindow">
    <div id="popupmsgInner" class="popupinfoinner"></div>
    <div class="closeButton">Close</div>
</div>

@Scripts.Render("~/bundles/app")

@if (ViewBag.IsFirstTime != null)
{
    <div id="FirstTimePopup" class="PopupWindow">
        <div class="closebtn">X</div>
        <div class="popupinfoinner">
            <div class="homewrapper">
                <div class="welcometext">Welcome to UMA.</div>
                <div class="hometext">Here is a quick overview of how this portal works:</div>
                <div class="divbg searchbg">
                    <img src="/images/magnify.png" height="100" width="100" />
                    <div class="bigfirstletter">Select the application you are working with or add it if it is not exisiting already.</div>
                    <div class="innerhomediv">Please use a name that is clear and intuitive.</div>
                </div>
                <div class="divbg padlockbg">
                    <img src="/images/padlock2.png" height="80" width="80" />
                    <div class="bigfirstletter">Create all the privileges which will be associated to your application</div>
                    <div class="innerhomediv">If your application does not have any privileges, skip this step and move onto roles.</div>
                </div>
                <div class="divbg uploadbg">
                    <img src="/images/upload.png" height="70" width="70" />
                    <div class="bigfirstletter">Define the roles which will be used in your application by clicking the 'New' button. You can edit existing roles by clicking the edit button.</div>
                    <div class="innerhomediv">Select the privileges that you want to attach to the role and click the 'Add privileges' button.</div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $('#FirstTimePopup').lightbox_me({
                centered: true
            });
        });
    </script>
}
