﻿@{
    ViewBag.Title = "Account confirmed";
}
<div class="displayemailspacing">
    <h2>@ViewBag.Title</h2>
    <div>
        <div class="bigfirstletter">Thank you for confirming your account. Please @Html.ActionLink("click here to log in.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "link" })</div>
    </div>
</div>

@Scripts.Render("~/bundles/home")