﻿@{
    ViewBag.Title = "Confirmation email sent";
}
<div class="displayemailspacing">
    <h2>@ViewBag.Title</h2>
    <p class="text-info">
        Please check your email and confirm your email address.
    </p>
    <p class="text-danger">
        <div class="bigfirstletter">For DEMO only:</div>
        <div>You can click this <a class="link" href="@ViewBag.Link">link</a> to confirm the email address.</div>
    </p>
</div>
