﻿@using UMA.Models
@model LoginViewModel
@Styles.Render("~/Content/home")
@{
    ViewBag.Title = "Log in";
}

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
                @*@Html.AntiForgeryToken()*@
                <div class="loginheader">Welcome to U.M.A</div>
                <div class="loginsquare shadow">
                    <div class="loginLine">
                        <div class="left txtdiv shadow">
                            @Html.TextBoxFor(model => model.Email, new { placeholder = "Your email" })
                        </div>
                        <div class="clear"></div>
                        <div id="emailval" class="validationMessage hidden">@Html.ValidationMessageFor(model => model.Email)</div>
                    </div>
                    <div class="loginLine">
                        <div class="left txtdiv shadow">
                            @Html.PasswordFor(model => model.Password, new { maxval = 15, placeholder = "Password" })
                        </div>
                        <div id="forgottenpwdiv" title="Forgot your password?" class="forgottenpw left"></div>
                        <div class="clear"></div>
                        <div id="passwordval" class="validationMessage hidden">@Html.ValidationMessageFor(model => model.Password)</div>
                    </div>
                    @Html.ValidationMessage("ServerResponse")
                    <div class="loginLine">
                        <input id="signinbtn" class="genbutton slightRounded shadow right" type="submit" value="Sign In" />
                        <div class="clear"></div>
                    </div>
                </div>
            }            
        </section>
    </div>
</div>

@*Forgotten password*@
<div id="forgotpassword" class="PopupWindow">
    <div class="closebtn">X</div>
    <div class="medfirstletter spacebot">Can't remember your password?</div>
    <div class="spacebotx2">We'll send you a link to reset it. Just enter your email below:</div>
    <div>
        <input type="text" id="txtresetemail" class="textbox2 left" />
        <div id="sendbtn" onclick="SendReset()" class="genbutton left spacetop">Send</div>
        <div id="forgotpwloadingdiv" class="loadingdiv left">
            <div class="smallmodal"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div id="forgotpwval" class="validationMessage hidden spacetop"></div>
    <div class="clear"></div>
</div>

@*Information popups*@
<div id="PopupMsg" class="PopupWindow">
    <div class="closebtn">X</div>
    <div id="popupmsgInner" class="popupinfoinner"></div>
</div>

@Scripts.Render("~/bundles/home")
@Scripts.Render("~/bundles/login")

@if (ViewBag.JustRegistered != null)
{
    @Scripts.Render("~/bundles/app")
    <script type="text/javascript">
        $('#popupmsgInner').html('<div class="medfirstletter spacebot">An email has been sent to your registered email address.</div><div>Please click on the link in the mail to activate your account.</div>');
        $(function () {
            $('#PopupMsg').lightbox_me({
                centered: true
            });
        });
    </script>
}

@if (ViewBag.JustUpdated != null)
{
    @Scripts.Render("~/bundles/app")
    <script type="text/javascript">
        $('#popupmsgInner').html('<div class="medfirstletter spacebot">Account updated</div><div>Please login with your updated details</div>');
        $(function () {
            $('#PopupMsg').lightbox_me({
                centered: true
            });
        });
    </script>
}

