﻿@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="padded">
    <div class="msgheader">Password successfully reset!</div>
    <div>
        @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "link" })
    </div>
</div>