﻿@model UMA.Models.BaseModel
@using Microsoft.AspNet.Identity;

@if (Model == null || Model.PrivilegeGrps.Count == 0)
{
    <div class="noitemsmsg medfirstletter">No Privilege Groups added yet</div>
}
else
{
    var privigrps = Model.PrivilegeGrps.Where(x => x.OwnerId.ToString() == User.Identity.GetUserId()).ToList();
    if (privigrps.Count > 0)
    {
        <div class="spacebotx2">
            <div class="appgrpheader">My Privilege Groups</div>
            <hr class="hrclass" />
            @for (int i = 0; i < privigrps.Count; i++)
            {
                <div class="spacetop">
                    <form method="post" action="@Url.Action("UpdatePriviGroup", "Privilege")" data-uma-update="true" data-uma-success="Privilege Group successfully edited">
                        @Html.Hidden("Id", privigrps[i].Id)
                        @Html.TextBoxFor(m => m.PrivilegeGrps.Where(x => x.Id == privigrps[i].Id).FirstOrDefault().Name, new { @class = "left textbox2", placeholder = "Enter group name" })
                        <div class="genbutton privibtn left">Privileges</div>
                        <input type="submit" value="Edit" class="genbutton left" />
                        <div class="delbutton">Remove</div>
                        <div class="loadingdiv left">
                            <div class="smallmodal"></div>
                        </div>
                        <div class="clear"></div>
                        <div id="creatroleval" class="validationMessage hidden">@Html.ValidationMessageFor(m => m.PrivilegeGrps[i].Name)</div>
                    </form>
                    <form method="post" action="@Url.Action("DeletePriviGroup", "Privilege")" data-uma-del="true" data-uma-success="Privilege Group has been removed">
                        @Html.Hidden("Id", privigrps[i].Id)
                        <input type="submit" class="hidden hiddenclickdelrole" />
                        <div class="clear"></div>
                    </form>
                    <form method="post" action="@Url.Action("GetPriviGroupDetails", "Privilege")" data-uma-partial="true" data-uma-target="privigrpdiv@(privigrps[i].Id)">
                        @Html.Hidden("Id", privigrps[i].Id)
                        <input type="submit" class="hidden hiddenclickgetrole" />
                    </form>
                    <div id="privigrpdiv@(privigrps[i].Id)" class="roleprividiv hidden"></div>
                </div>
            }
        </div>
    }

    var others = Model.PrivilegeGrps.Where(x => x.OwnerId.ToString() != User.Identity.GetUserId()).ToList();
    if (others.Count > 0)
    {
        <div class="rolegrpheader">@(Model.OperatorType == 1 ? "Other" : "Default") PrivilegeGrps</div>
        <hr class="hrclass" />
        <ul>
            @for (int i = 0; i < others.Count; i++)
            {
                <li><div class="applicationNames">@others[i].Name <i class="smallertext">@others[i].OwnerName</i></div></li>
            }
        </ul>
    }
}