﻿@model UMA.Models.BaseModel
@using Microsoft.AspNet.Identity;

@if (Model == null || Model.Privileges.Count == 0)
{
    <div class="noitemsmsg medfirstletter">No privileges added yet</div>
}
else
{
    var myprivis = Model.Privileges.Where(x => x.OwnerId.ToString() == User.Identity.GetUserId()).ToList();
    if (myprivis.Count > 0)
    {
        <div class="appgrpheader">My Privileges</div>
        <hr class="hrclass" />
        for (int i = 0; i < myprivis.Count; i++)
        {
            <div class="spacetop">
                <form method="post" action="@Url.Action("UpdatePrivi", "Privilege")" data-uma-update="true" data-uma-success="privilege successfully edited">
                    @Html.Hidden("Id", myprivis[i].Id)
                    @Html.Hidden("ApplicationId", myprivis[i].ApplicationId)
                    @Html.TextBoxFor(m => m.Privileges.Where(x => x.Id == myprivis[i].Id).FirstOrDefault().Name, new { @class = "left textbox2", placeholder = "Enter privilege name" })
                    <input type="submit" value="Edit" class="genbutton left" />
                    <div class="delbutton">Remove</div>
                    <div class="loadingdiv left">
                        <div class="smallmodal"></div>
                    </div>
                    <div class="clear"></div>
                    <div id="creatprivival" class="apperror validationMessage hidden">@Html.ValidationMessageFor(m => m.Privileges[i].Name)</div>
                </form>
                <form method="post" action="@Url.Action("DeletePrivi", "Privilege")" data-uma-del="true" data-uma-success="Privilege has been removed">
                    @Html.HiddenFor(m => m.Privileges.Where(x => x.Id == myprivis[i].Id).FirstOrDefault().Id)
                    <input type="submit" class="hidden hiddenclick" />
                    <div class="clear"></div>
                </form>
            </div>
        }
    }

    var others = Model.Privileges.Where(x => x.OwnerId.ToString() != User.Identity.GetUserId()).ToList();
    if (others.Count > 0)
    {
        <div class="appgrpheader spacetop">Privileges</div>
        <hr class="hrclass" />
        <div class="columns">
            <ul>
                @for (int i = 0; i < others.Count; i++)
                {
                    if (Model.OperatorType == 1)
                    {
                        <li><div class="applicationNames">@others[i].Name <i class="smallertext">(@others[i].OwnerName)</i></div></li>
                    }
                    else
                    {
                        <li><div class="applicationNames">@others[i].Name</div></li>
                    }
                }
            </ul>
        </div>
    }
}
