﻿@model UMA.Models.BaseModel
@using Microsoft.AspNet.Identity;

@if (Model == null || Model.Roles.Count == 0)
{
    <div class="noitemsmsg medfirstletter">No Roles added yet</div>
}
else
{
    var myroles = Model.Roles.Where(x => x.OwnerId.ToString() == User.Identity.GetUserId()).ToList();
    if (myroles.Count > 0)
    {
        <div class="spacebotx2">
            <div class="appgrpheader">My Roles</div>
            <hr class="hrclass" />
            @for (int i = 0; i < myroles.Count; i++)
            {
                <div class="spacetop">
                    <form method="post" action="@Url.Action("UpdateRole")" data-uma-update="true" data-uma-success="Role successfully edited">
                        @Html.Hidden("Id", myroles[i].Id)
                        @Html.Hidden("ApplicationId", myroles[i].ApplicationId)
                        @Html.TextBoxFor(m => m.Roles.Where(x => x.Id == myroles[i].Id).FirstOrDefault().Name, new { @class = "left textbox2", placeholder = "Enter role name" })
                        <div class="genbutton privibtn left">Privileges</div>
                        <input type="submit" value="Edit" class="genbutton left" />
                        <div class="delbutton">Remove</div>
                        <div class="loadingdiv left">
                            <div class="smallmodal"></div>
                        </div>
                        <div class="clear"></div>
                        <div id="creatroleval" class="apperror validationMessage">@Html.ValidationMessageFor(m => m.Roles[i].Name)</div>
                    </form>
                    <form method="post" action="@Url.Action("DeleteRole")" data-uma-del="true" data-uma-success="Role has been removed">
                        @Html.HiddenFor(m => m.Roles.Where(x => x.Id == myroles[i].Id).FirstOrDefault().Id)
                        <input type="submit" class="hidden hiddenclickdelrole" />
                        <div class="clear"></div>
                    </form>
                    <form method="post" action="@Url.Action("GetRoleDetails")" data-uma-partial="true" data-uma-target="roleprividiv@(myroles[i].Id)">
                        @Html.Hidden("Id", myroles[i].Id)
                        @Html.Hidden("ApplicationId", myroles[i].ApplicationId)
                        <input type="submit" class="hidden hiddenclickgetrole" />
                    </form>
                    <div id="roleprividiv@(myroles[i].Id)" class="roleprividiv hidden"></div>
                </div>
            }
        </div>
    }

    var others = Model.Roles.Where(x => x.OwnerId.ToString() != User.Identity.GetUserId()).ToList();
    if (others.Count > 0)
    {
        <div class="rolegrpheader">@(Model.OperatorType == 1 ? "Other" : "Default") Roles</div>
        <hr class="hrclass" />
        <ul>
            @for (int i = 0; i < others.Count; i++)
            {
                <li><div class="applicationNames">@others[i].Name <i class="smallertext">@others[i].OwnerName</i></div></li>
            }
        </ul>
    }
}