﻿@using UMAentities
@model Role

<div class="transferboxes">
    <div class="left bigbox leftsidebox">
        <div class="priviheading">Unassigned Privileges</div>
        @Html.TextBox("searchbox", null, new { @class = "searchbox" })
        <div id="unselpriviwrap@(Model.Id)" class="box">
            @foreach (Privilege privi in Model.UnselectedPrivileges)
            {
                <div id="addprivis@(privi.Id)" class="prividiv">@privi.Name</div>
            }
        </div>
    </div>
    <div class="left transferbtnbox">
        <form method="post" action="@Url.Action("AssignGroupPrivileges")" data-uma-partial="true" data-uma-target="privigrpdiv@(Model.Id)">
            @Html.Hidden("Id", Model.Id)
            @Html.Hidden("AddPrivileges", null, new { id = "AddPrivileges" + Model.Id })
            <input type="submit" class="genbutton transferbtn unfocused" value="Assign &rArr;" />
        </form>
        <form method="post" action="@Url.Action("RemoveGroupPrivileges")" data-uma-partial="true" data-uma-target="privigrpdiv@(Model.Id)">
            @Html.Hidden("RemovePrivileges", null, new { id = "RemovePrivileges" + Model.Id })
            @Html.Hidden("Id", Model.Id)
            <input type="submit" class="genbutton transferremovebtn unfocused" value="&lArr; Remove" />
        </form>
    </div>
    <div class="left bigbox rightsidebox">
        <div class="priviheading">Assigned Privileges</div>
        @Html.TextBox("searchbox", null, new { @class = "searchbox" })
        <div id="priviwrap@(Model.Id)" class="box">
            @foreach (Privilege privi in Model.Privileges)
            {
                <div id="removeprivis@(privi.Id)" class="prividiv">@privi.Name</div>
            }
        </div>
    </div>
    <div class="clear"></div>
</div>
