﻿
<form method="post" action="@Url.Action("CreateRole")" data-uma-partial="true" data-uma-target="roleeditdiv" data-uma-success="Role successfully created">
    <div class="formatinfo">Format: "Biometrics operator", "Approval officer"</div>
    @Html.TextBoxFor(m => m.NewRoleName, new { @class = "left textbox2", placeholder = "Create new role" })
    <input type="submit" value="Create" class="genbutton left" />
    <div class="loadingdiv left">
        <div class="smallmodal"></div>
    </div>
    <div class="clear"></div>
    <div id="creatappval" class="validationMessage apperror hidden">@Html.ValidationMessageFor(m => m.NewRoleName)</div>
</form>
<div id="roleeditdiv" class="groupboxedit">@Html.Partial("_EditRole", Model.Roles)</div>
