﻿@using UMAentities
@model Operator

<div class="transferboxes">
    <div class="left bigbox leftsidebox">
        <div class="priviheading">Unassigned Roles</div>
        @Html.TextBox("searchbox", null, new { @class = "searchbox" })
        <div id="unselpriviwrap@(Model.OperatorId)" class="box">
            @foreach (Role role in Model.UnselectedRoles)
            {
                <div id="addprivis@(role.Id)" class="prividiv">@role.Name</div>
            }
        </div>
    </div>
    <div class="left transferbtnbox">
        <form method="post" action="@Url.Action("AssignRoles")" data-uma-partial="true" data-uma-target="@(Model.OperatorType == 1 ? "roleprividiv" + Model.OperatorId : "assignrolediv")">
            @Html.Hidden("SelectedOperator", Model.OperatorId)
            @Html.Hidden("SelectedRole")
            @Html.Hidden("SelectedRoleAppId", Model.AppId)
            @Html.Hidden("AddRoles", null, new { id = "AddPrivileges" + Model.OperatorId })
            <input type="submit" class="genbutton transferbtn unfocused" value="Assign &rArr;" />
        </form>
        <form method="post" action="@Url.Action("RemoveRoles")" data-uma-partial="true" data-uma-target="@(Model.OperatorType == 1 ? "roleprividiv" + Model.OperatorId : "assignrolediv")">
            @Html.Hidden("RemoveRoles", null, new { id = "RemovePrivileges" + Model.OperatorId })
            @Html.Hidden("SelectedRole")
            @Html.Hidden("SelectedRoleAppId", Model.AppId)
            @Html.Hidden("SelectedOperator", Model.OperatorId)
            <input type="submit" class="genbutton transferremovebtn unfocused" value="&lArr; Remove" />
        </form>
    </div>
    <div class="left bigbox rightsidebox">
        <div class="priviheading">Assigned Roles</div>
        @Html.TextBox("searchbox", null, new { @class = "searchbox" })
        <div id="priviwrap@(Model.OperatorId)" class="box">
            @foreach (Role role in Model.SelectedRoles)
            {
                <div id="removeprivis@(role.Id)" class="prividiv">@role.Name</div>
            }
        </div>
    </div>
    <div class="clear"></div>
</div>