﻿@using UMAentities
@model Role

<div class="privisortparent" id="test">
    @if (Model.RoleType.IsApplicationLinked == 0)
    {
        <div class="toppadding">
            @Html.Hidden("privifiltercombo", null, new { @class = "inline selectbox privisort spacetopx2" })
        </div>
    }

    <div class="transferboxes">
        <div class="left smallbox leftsidebox">
            <div class="priviheading">Unassigned Privileges</div>
            @Html.TextBox("searchbox", null, new { @class = "searchbox" })
            <div id="unselpriviwrap@(Model.Id)" class="box">
                @foreach (Privilege privi in Model.UnselectedPrivileges)
            {
            <div id="addprivis@(privi.Id)" class="prividiv app@(privi.ApplicationId)">@privi.Name</div>
            }
            </div>
        </div>
        <div class="left smallbox leftsidebox spaceleft">
            <div class="priviheading">Unassigned Roles</div>
            @Html.TextBox("searchbox", null, new { @class = "searchbox" })
            <div id="unselprivigrpwrap@(Model.Id)" class="box">
                @foreach (Role grp in Model.UnselectedRoles)
            {
            <div id="addprivigrp@(grp.Id)" class="privigrp app@(grp.ApplicationId)">@grp.Name</div>
            }
            </div>
        </div>
        <div class="left transferbtnbox">
            <form method="post" action="@Url.Action("AssignRolePrivileges")" data-uma-partial="true" data-uma-target="roleprividiv@(Model.Id)">
                @Html.Hidden("Id", Model.Id)
                @Html.Hidden("ApplicationId", Model.ApplicationId)
                @Html.Hidden("AddPrivileges", null, new { id = "AddPrivileges" + Model.Id })
                @Html.Hidden("AddRoles", null, new { id = "AddPrivilegeGroups" + Model.Id })
                <input type="submit" class="genbutton transferbtn unfocused" value="Assign &rArr;" />
            </form>
            <form method="post" action="@Url.Action("RemoveRolePrivileges")" data-uma-partial="true" data-uma-target="roleprividiv@(Model.Id)">
                @Html.Hidden("RemovePrivileges", null, new { id = "RemovePrivileges" + Model.Id })
                @Html.Hidden("RemoveRoles", null, new { id = "RemovePrivilegeGroups" + Model.Id })
                @Html.Hidden("Id", Model.Id)
                @Html.Hidden("ApplicationId", Model.ApplicationId)
                <input type="submit" class="genbutton transferremovebtn unfocused" value="&lArr; Remove" />
            </form>
        </div>
        <div class="left smallbox rightsidebox">
            <div class="priviheading">Assigned Privileges</div>
            @Html.TextBox("searchbox", null, new { @class = "searchbox" })
            <div id="priviwrap@(Model.Id)" class="box">
                @foreach (Privilege privi in Model.Privileges)
            {
            <div id="removeprivis@(privi.Id)" class="prividiv app@(privi.ApplicationId)">@privi.Name</div>
            }
            </div>
        </div>
        <div class="left smallbox rightsidebox spaceleft">
            <div class="priviheading">Assigned Roles</div>
            @Html.TextBox("searchbox", null, new { @class = "searchbox" })
            <div id="privigrpwrap@(Model.Id)" class="box">
                @foreach (Role grp in Model.SubRoles)
            {
            <div id="removeprivigrp@(grp.Id)" class="privigrp app@(grp.ApplicationId)">@grp.Name</div>
            }
            </div>
        </div>
        <div class="clear"></div>
    </div>

</div>