﻿@using Microsoft.AspNet.Identity
@using UMA.Models
@Html.AntiForgeryToken()
<div id="divLoggedIn" class="DisplayLogin loggedIn">
    <div class="accountoptions right">
        <ul id="menu2">
            <li class="menuitem">
                <div class="setupbtn"></div>
                <div class="submenu2 outersub">
                    @*<div class="ssmenu">
                        <div>
                            <a href="/MyAccount"><div>My Account</div><div class="clear"></div></a>
                        </div>
                    </div>*@
                    <div class="ssmenu" style="margin-bottom: -8px">
                        <div>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()
                                <input class="genbuttonx signoutBtn" type="submit" value="Sign Out" id="btnSignOut" />
                            }
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div id="txtLoginTextfo" class="right">@(User.FullName())</div>
    <div class="clear"></div>   
</div>
