﻿<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <div>The first thing you need to do is <b>log in</b> and retrieve an <b>access token</b> which will be required during any call to the api. An example of how to request this token (sample here is in javascript) is shown below:</div>
        <div class="code">
            <div>var loginData = { grant_type: 'password', username: 'myusername', password: 'mypassword' };</div><br />
            <div>
                $.ajax({ <br />
                <div style="margin-left: 20px">
                    type: 'POST',<br />
                    url: '/Token',<br />
                    data: loginData<br />
                    }).done(function (data) {<br />
                    <span style="margin-left:20px">// Here is your token. Please send this on every request</span><br />
                    <span style="margin-left:20px">string mytoken = data.access_token;<br /></span>
                </div>
                }).fail(showError);

            </div>
        </div>
        <div>The next example shows an example of making a request to the api and passing your token along with your request:</div>
        <div class="code">
            // If we already have a bearer token, set the Authorization header.<br />
            var token = mytoken;<br />
            var headers = {};<br />
            if (token) {<br />
                <span style="margin-left:20px">
                    headers.Authorization = 'Bearer ' + token;
                </span>
                }<br />

               <div> $.ajax({
                <div style="margin-left: 20px">
                    type: 'GET',<br />
                    url: 'api/values/1',<br />
                    headers: headers<br />
                    }).done(function (data) {<br />
                    <span style="margin-left:20px">myresult = data;</span>
                </div>
                }).fail(showError);
            </div>
        </div>
    </div>
</div>
