﻿@using UMAentities
@using Action = UMAentities.Action
@model Privilege

<div class="transferboxes">
    <div class="left bigbox leftsidebox">
        <div class="priviheading">Unassigned Actions</div>
        <div id="unselpriviwrap@(Model.Id)" class="box">
            @foreach (Action action in Model.UnselectedActions)
            {
                <div id="addprivis@(action.Id)" class="prividiv">@(action.Controller)/@action.Name</div>
            }
        </div>
    </div>
    <div class="left transferbtnbox">
        <form method="post" action="@Url.Action("AssignActionsToPrivilege")" data-uma-partial="true" data-uma-target="assignactionswrap">
            @Html.Hidden("Id", Model.Id)
            @Html.Hidden("ApplicationId", Model.ApplicationId)
            @Html.Hidden("AddActions", null, new { id = "AddPrivileges" + Model.Id })
            <input type="submit" class="genbutton transferbtn unfocused" value="Assign" />
        </form>
        <form method="post" action="@Url.Action("RemoveActionsFromPrivilege")" data-uma-partial="true" data-uma-target="assignactionswrap">
            @Html.Hidden("RemoveActions", null, new { id = "RemovePrivileges" + Model.Id })
            @Html.Hidden("ApplicationId", Model.ApplicationId)
            @Html.Hidden("Id", Model.Id)
            <input type="submit" class="genbutton transferremovebtn unfocused" value="Remove" />
        </form>
    </div>
    <div class="left bigbox rightsidebox">
        <div class="priviheading">Assigned Actions</div>
        <div id="priviwrap@(Model.Id)" class="box">
            @foreach (Action action in Model.Actions)
            {
                <div id="removeprivis@(action.Id)" class="prividiv">@(action.Controller)/@action.Name</div>
            }
        </div>
    </div>
    <div class="clear"></div>
</div>
