﻿@using Microsoft.AspNet.Identity;
@model UMA.Models.BaseModel

@if (Model == null || Model.Actions.Count == 0)
{
    <div class="noitemsmsg medfirstletter">No Actions added yet</div>
}
else
{
    var myactions = Model.Actions.Where(x => x.OwnerId.ToString() == User.Identity.GetUserId()).ToList();
    if (myactions.Count > 0)
    {
        <div class="spacebotx2">
            <div class="appgrpheader">My Actions</div>
            <hr class="hrclass" />
            @for (int i = 0; i < myactions.Count; i++)
            {
                <div class="spacetop">
                    <form method="post" action="@Url.Action("UpdateAction", "Action")" data-uma-update="true" data-uma-success="Action successfully edited">
                        @Html.Hidden("Id", myactions[i].Id)
                        @Html.Hidden("ApplicationId", myactions[i].ApplicationId)
                        @Html.TextBoxFor(m => m.Actions.Where(x => x.Id == myactions[i].Id).FirstOrDefault().Controller, new { @class = "left textbox3", placeholder = "Enter controller name" })
                        <div class="left slash">/</div>
                        @Html.TextBoxFor(m => m.Actions.Where(x => x.Id == myactions[i].Id).FirstOrDefault().Name, new { @class = "left textbox3", placeholder = "Enter action name" })
                        <input type="submit" value="Edit" class="genbutton left" />
                        <div class="delbutton">Remove</div>
                        <div class="loadingdiv left">
                            <div class="smallmodal"></div>
                        </div>
                        <div class="clear"></div>
                        <div id="creatactionval" class="apperror validationMessage">@Html.ValidationMessageFor(m => m.Actions[i].Name)</div>
                    </form>
                    <form method="post" action="@Url.Action("DeleteAction", "Action")" data-uma-del="true" data-uma-success="Action has been removed">
                        @Html.HiddenFor(m => m.Actions.Where(x => x.Id == myactions[i].Id).FirstOrDefault().Id)
                        <input id="removeaction" type="submit" class="hidden hiddenclickdelrole" />
                        <div class="clear"></div>
                    </form>
                    <div id="actionprividiv@(myactions[i].Id)" class="actionprividiv hidden"></div>
                </div>
            }
        </div>
    }

    var others = Model.Actions.Where(x => x.OwnerId.ToString() != User.Identity.GetUserId()).ToList();
    if (others.Count > 0)
    {
        <div class="rolegrpheader">@(Model.OperatorType == 1 ? "Other" : "Default") Actions</div>
        <hr class="hrclass" />
        <ul>
            @for (int i = 0; i < others.Count; i++)
            {
                <li><div class="applicationNames">@others[i].Controller / @others[i].Name (<i class="smallertext">@others[i].OwnerName</i>)</div></li>
            }
        </ul>
    }
}