﻿@model UMA.Models.BaseModel
<form method="post" action="@Url.Action(Model.OperatorType == 1 ? "CreateBranchAdmin" : "Application")" data-uma-partial="true" data-uma-target="createappadmindiv">
    @Html.Hidden("CreateAdminAppId")
    @Html.Hidden("CreateAdminBranchId")
    <div class="paddingbotx2">
        @Html.TextBoxFor(m => m.NewAdminUsername, new { @class = "textbox2 left", placeholder = "Enter " + (Model.OperatorType == 1 ? "admin's" : "user's") + " email" })
        <input type="submit" value="Create" class="genbutton left" />
        <div class="loadingdiv left">
            <div class="smallmodal"></div>
        </div>
        <div class="clear"></div>
        <div id="adminusrerr" class="validationMessage hidden">@Html.ValidationMessageFor(m => m.NewAdminUsername)</div>
        <div class="clear"></div>
    </div>
    @*<div class="spacebot">
        @Html.PasswordFor(m => m.NewAdminPassword, new { @class = "textbox2", placeholder = "Enter " + (Model.OperatorType == 1 ? "admin's" : "user's") + " password" })
        <div id="adminpwerr" class="validationMessage hidden">@Html.ValidationMessageFor(m => m.NewAdminPassword)</div>
        <div class="clear"></div>
    </div>
    <div class="spacebot">
        @Html.PasswordFor(m => m.NewAdminPasswordConfirm, new { @class = "textbox2 left", placeholder = "Confirm " + (Model.OperatorType == 1 ? "admin's" : "user's") + " password" })
        <input type="submit" value="Create" class="genbutton left" />
        <div class="loadingdiv left">
            <div class="smallmodal"></div>
        </div>
        <div class="clear"></div>
        <div id="adminpwconerr" class="validationMessage apperror hidden">@Html.ValidationMessageFor(m => m.NewAdminPasswordConfirm)</div>
    </div>*@
</form>

@if (Model.CreatedAdmins.Count == 0)
{
    <div class="nostaffmsg medfirstletter">No @(Model.OperatorType == 1 ? "admins" : "users") created yet</div>
}
else
{
    <div class="appgrpheader">Created @(Model.OperatorType == 1 ? "Admins" : "Users")</div>
    <hr class="hrclass" />
    foreach (UMAentities.Operator o in Model.CreatedAdmins)
    {
        <form method="post" action="@Url.Action("DeactivateAccount", "Account")" data-uma-partial="true" data-uma-target="createappadmindiv">
            <div class="spacetop">
                @if (o.IsActivated)
                {
                    @Html.Hidden("iscancel", 0)
                    @Html.Hidden("RemoveUserOprId", o.OperatorId, new { id = "RemoveUserOprId" + o.OperatorId })
                    <div class="left alloweduser">@(o.FullName)</div>
                    <input type="submit" id="deactivateopr@(o.OperatorId)" class="left delbutton deactivateopr" style="width: 85px; margin-left: 0px" value="Deactivate" />
                    <div class="loadingdiv left">
                        <div class="smallmodal"></div>
                    </div>
                    <div class="clear"></div>
                }
                else
                {
                    @Html.Hidden("iscancel", 1)
                    @Html.Hidden("RemoveUserOprId", o.OperatorId, new { id = "RemoveUserOprId" + o.OperatorId })
                    <div class="left alloweduser">@(o.EmailAddress) (Not yet activated)</div>
                    <input type="submit" id="deactivateopr@(o.OperatorId)" class="left delbutton deactivateopr" style="width: 70px; margin-left: 0px" value="Cancel" />
                    <div class="loadingdiv left">
                        <div class="smallmodal"></div>
                    </div>
                    <div class="clear"></div>
                }
            </div>
        </form>
    }
}

@if(Model.OperatorType == 1)
{ 
    @Scripts.Render("~/bundles/jqueryval")
}

