﻿@using Microsoft.AspNet.Identity;
@model List<UMAentities.Application>

@if (Model == null || Model.Count == 0)
{
    <div class="noitemsmsg medfirstletter">No applications added yet</div>
}
else
{
    var myapps = Model.Where(x => x.OwnerId.ToString() == User.Identity.GetUserId() || x.SharedWith.Contains(User.Identity.GetUserId())).ToList();
    if (myapps.Count > 0)
    {
        <div class="spacebotx2">
            <div class="appgrpheader">My Applications</div>
            <hr class="hrclass" />
            @for (int i = 0; i < myapps.Count; i++)
            {
                <div class="spacetop">
                    <form method="post" action="@Url.Action("UpdateApp", "Application")" data-uma-update="true" data-uma-success="Application successfully edited">
                        @Html.Hidden("Id", myapps[i].Id)
                        @Html.TextBoxFor(m => m.Where(x => x.Id == myapps[i].Id).FirstOrDefault().Name, new { @class = "left textbox2", placeholder = "Enter application name" })
                        <input type="submit" value="Edit" class="genbutton left" />
                        <div class="delbutton">Remove</div>
                        <div class="loadingdiv left">
                            <div class="smallmodal"></div>
                        </div>
                        <div class="clear"></div>
                        <div id="creatappval" class="apperror validationMessage hidden">@Html.ValidationMessageFor(m => m[i].Name)</div>
                    </form>
                    <form method="post" action="@Url.Action("DeleteApp", "Application")" data-uma-del="true" data-uma-success="Application has been removed">
                        @Html.HiddenFor(m => m.Where(x => x.Id == myapps[i].Id).FirstOrDefault().Id)
                        <input type="submit" class="hidden hiddenclickdelrole" />
                        <div class="clear"></div>
                    </form>
                </div>
            }
        </div>
    }

    var others = Model.Where(x => x.OwnerId.ToString() != User.Identity.GetUserId()).ToList();
    if (others.Count > 0)
    {
        <div class="appgrpheader">Other Applications</div>
        <hr class="hrclass" />
        <ul>
            @for (int i = 0; i < others.Count; i++)
            {
                <li><div class="applicationNames">@others[i].Name <i class="smallertext">(@others[i].OwnerName)</i></div></li>
            }
        </ul>
    }
}