﻿@model UMA.Models.BaseModel
<div class="left selectstaffdiv">
    @Html.Hidden("cmbSelectStaff", null, new { id = "cmbSelectStaff", @style = "width:400px;" })
</div>
<form method="post" action="@Url.Action("SaveSharedAppUsers")" data-uma-partial="true" data-uma-target="shareappdiv">
    @Html.Hidden("SelectedSharedUsers")
    @Html.Hidden("SelectedSharedAppSave")
    <input type="submit" class="genbutton left" value="Share" />
    <div class="loadingdiv left shiftspinnerup">
        <div class="smallmodal"></div>
    </div>
    <div class="clear"></div>
</form>
<div class="clear"></div>

@if (Model.AllowedStaff.Count == 0)
{
    <div class="nostaffmsg medfirstletter">Not shared with anyone</div>
}
else
{
    <div class="appgrpheader spacetop">Shared With</div>
    <hr class="hrclass" />
    foreach (UMAentities.Operator o in Model.AllowedStaff)
    {
        <form method="post" action="@Url.Action("RemoveShareApp")" data-uma-partial="true" data-uma-target="shareappdiv">
            @Html.Hidden("SelectedSharedAppRemove")
            @Html.Hidden("RemoveShareAppId", o.OperatorId)
            <div class="spacetop">
                <div class="left alloweduser" style="min-width: 385px">@(o.FullName)</div>
                <input type="submit" class="left delbutton" value="Remove" />
                <div class="loadingdiv left shiftspinnerup">
                    <div class="smallmodal"></div>
                </div>
                <div class="clear"></div>
            </div>
        </form>
    }
}

