﻿
@model UMA.Models.BaseModel
<form method="post" action="@Url.Action("CreateSuperUser", "Application")" data-uma-partial="true" data-uma-target="createappadmindivsu">
    <div class="">
        @Html.TextBoxFor(m => m.NewAdminUsername, new { @class = "textbox2 left", placeholder = "Enter superuser's email" })
        <input type="submit" value="Create" class="genbutton left" />
        <div class="loadingdiv left">
            <div class="smallmodal"></div>
        </div>
        <div class="clear"></div><div id="adminsuperusrerr" class="validationMessage apperror hidden">@Html.ValidationMessageFor(m => m.NewAdminUsername)</div>
        <div class="clear"></div>
    </div>
</form>

@if (Model.SuperUsers.Count == 0)
{
    <div class="nostaffmsg medfirstletter">No superusers created yet</div>
}
else
{   
    <div class="appgrpheader spacetop">Created SuperUsers</div>
    <hr class="hrclass" />
    foreach (UMAentities.Operator o in Model.SuperUsers)
    {
        <form method="post" action="@Url.Action("DeactivateSuperUser", "Account")" data-uma-partial="true" data-uma-target="createappadmindivsu">
            <div class="spacetop">
                @if (o.IsActivated)
                {
                    @Html.Hidden("iscancel", 0)
                    @Html.Hidden("RemoveUserOprId", o.OperatorId, new { id = "RemoveUserOprId" + o.OperatorId })
                    <div class="left alloweduser">@(o.FullName)</div>
                    <input type="submit" id="deactivateopr@(o.OperatorId)" class="left delbutton deactivateopr" style="width: 85px; margin-left: 0px" value="Deactivate" />
                    <div class="loadingdiv left">
                        <div class="smallmodal"></div>
                    </div>
                    <div class="clear"></div>
                }
                else
                {
                    @Html.Hidden("iscancel", 1)
                    @Html.Hidden("RemoveUserOprId", o.OperatorId, new { id = "RemoveUserOprId" + o.OperatorId })
                    <div class="left alloweduser">@(o.EmailAddress) (Not yet activated)</div>
                    <input type="submit" id="deactivateopr@(o.OperatorId)" class="left delbutton deactivateopr" style="width: 70px; margin-left: 0px" value="Cancel" />
                    <div class="loadingdiv left">
                        <div class="smallmodal"></div>
                    </div>
                    <div class="clear"></div>
                }
            </div>
        </form>
    }
}

@if (Model.OperatorType == 1)
{
    @Scripts.Render("~/bundles/jqueryval")
}

