﻿/* Body */
 *
 { 
     outline: none;
 }

 html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -41px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 40px; 
}

html 
{    
    color: #333;
    font-size: .85em;
    font-family: Lucida Bright;
}

.contentwrapper{
     min-height:100%; 
     height: 100%;
     position: relative;
     padding: 5px 0px 10px 0px;
     box-sizing: border-box;
}

#content {
    border: 1px solid #ccc;
    position: relative;
    width: 980px;
    margin: auto;
    min-height:400px; 
    height: 100%;
}

.content-wrapper
{
    padding: 0px 0px 10px 0px; 
    margin : 0px auto;
    position: relative;
}

footer 
{
    margin-bottom:-30px; 
    border-top: 1px solid #ccc;
    height: 37px; 
    background-color: #f9f9f9;
}

.header, body
{
    background: url(/images/bg.jpg);
}

/* important bits */
.logo
{
    font-size: 30px;
    float: left;
    margin: 5px 0px -5px 20px;
    line-height: 80px;
}

.menubar
{
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

.menux
{
    color: #333;
    width: 980px;
    margin: 0px auto;
}

.menuitemx
{
    width: 150px;
    cursor: pointer;
    float: left;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    color: #369;
}

.menuitemx:hover
{
    background-color: #f4f4f4;
    color: #8D2136;
}

.irislogo
{
    background: url(/images/irislogo.png);  
    width: 120px;
    height: 80px; 
    margin: 5px 0px -5px 20px;
    float: left;
    cursor: pointer;
}

.footernote
{
    text-align: center;
    margin: auto;
    width: 980px;
    color: #8D2136;
    font-size: 11px;
    line-height: 40px;
}


/* Misc */

.renderbody{
    padding: 10px 30px 20px 30px;
}

.code {
    padding: 20px;
    background-color: white;
    margin:  20px 0px;
}

h1{
    margin: 10px 0px 0px 0px !important;
    font-size: 20px !important;
}

h2{
    margin: 10px 0px !important;
    font-size: 17px !important;
}

h3{
    margin: 10px 0px !important;
    font-size: 15px !important;
}


.pbtn{
    font-size: 14px;
    border: 1px solid #369;
    width: 80px;
    text-align: center;
    background-color: #369;
    margin: 5px 0px -5px 0px;
}

.pbtn a{
      color: #fff!important;
      width: 100%;
      display: inline-block;
      height: 24px;
      vertical-align: sub;
}

.left
{
    float: left;  
}

.right
{
    float: right;  
}

.centered
{
    margin: 0px auto;    
}

.clear
{
    clear: both;   
}

.relative
{
    position: relative;   
}

.absolute
{
    position: absolute;   
}

.link
{
    color: #369;
    text-decoration: none;
}

.link:hover
{
    text-decoration: underline;
}

.slightRounded
{
    border-radius: 2px 2px 2px 2px; 
    -moz-border-radius: 2px 2px 2px 2px; 
    -webkit-border-radius: 2px 2px 2px 2px; 
	-khtml-border-radius:  2px 2px 2px 2px; 
}

.invisible
{
    visibility: hidden;    
}

.inline
{
    display: inline-block;
    vertical-align: top;
}

.inlinecenter
{
    display: inline-block;
}


.shadow
{ 
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);  
}
    
.spacebot
{
    margin-bottom: 8px;
}

.spaceleft
{
    margin-left: 10px;
}

.spacebotx2
{
    margin-bottom: 16px;
}

.spacetop
{
    margin-top: 8px;
}

.spacetopx2
{
    margin-top: 20px;
}

.spacesides{
    margin-left: 20px;
    margin-right: 20px;
}

.bigfirstletter:first-letter
{
    font-size: 30px;
    color: #8D2136;
}

.hidden{
    display: none;
}

.medfirstletter:first-letter
{
    font-size: 20px;
    color: #8D2136;
}

.transpbg
{
    position: absolute;
    opacity: 0.65;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: -1;
}

.main-content
{
    z-index: 1;
}

#headertxt
{
    margin: 0px 0px 20px 0px;
}

#headertxt:first-letter
{
    font-size: 21px;
    color: #8d2136;
}

.closeButton
{
    background-color: #f4f4f4;
    text-align:center;
    width: 60px;
    border: 1px solid #ccc;
    color:#8D2136;
    cursor: pointer;
    line-height: 22px;
    height: 22px;
    margin: 15px auto 0px auto;
    padding: 0px 15px;
    font-size: 12px;
}

.closebtn
{
    position: absolute;
    top: 7px;
    right: 7px;
    background-color: #d2322d;
    color: White;
    font-size: 10px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    cursor: pointer;   
    border-radius: 4px 4px 4px 4px; 
    -moz-border-radius: 4px 4px 4px 4px; 
    -webkit-border-radius: 4px 4px 4px 4px; 
	-khtml-border-radius:  4px 4px 4px 4px; 
}

.PopupWindow
{
    padding: 30px 25px 25px 25px;
    overflow: auto; 
    background-color: White; 
    font-size: 15px;
    display:none;  
    max-width: 900px;
    position:relative;
    -khtml-border-radius:  5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px; 
    -webkit-border-radius: 5px 5px 5px 5px; 
    border-radius: 5px 5px 5px 5px;  
    overflow-x: hidden;
    max-height: 600px;
}

#divDisplayLogin, #divLoggedIn
{
    right: 0;
    top: 23px;
    min-width: 107px;
    position: absolute;
    border-bottom: 2px solid #ccc;
    cursor: pointer;
}

.genbuttonx
{
    background-color: transparent;
    font-family: arial;
    text-align:center;
    color: #e4e4e4;
    margin: 5px 0px 0px 0px;
    border: none;
    cursor: pointer;
    line-height: 20px;
    font-size: 13px !important;
    outline: 0;
    outline: none;
}

.genbuttonx:hover, .closebtn:hover, .closeButton:hover
{
    opacity: 0.7;
}

.setupbtn
{
    width: 16px;
    height: 22px;
    background: url(/images/setup2.png) no-repeat 0px 0px;
    margin-left: 7px;
    border: none;
    margin-top: 1px;
    cursor: pointer;
}

.signoutBtn
{
    width:  100%;
    line-height: 25px;
    padding: 0px;
    margin: 0px;
    font-family: Lucida Bright;
}

.signoutBtn:hover
{
    color: White;
    opacity: 1;
}

#menu li.menuitem:hover
{
    opacity: 0.9;
    background-color: #369;
}

#menu2 li.menuitem:hover
{
    opacity: 0.9;
}

#menu, #menu2
{
    list-style-type: none;
    position: relative;
}

#menu2
{
    padding: 0px;
    margin: -1px 0px 0px 2px;    
}

#menu li.menuitem, #menu2 li.menuitem
{
    height: 21px;
    width: 30px;
    text-align: center;
    color: #f4f4f4;
    line-height: 25px;
    float: left;
    cursor: pointer;    
}

.ssmenu
{
    height: 25px;
    color: #f4f4f4;
    line-height: 25px;
    width: 100%;
    display: inline-block;
    position: relative;
}

.ssmenu a
{
    height: 25px;
    color: #f4f4f4;
    line-height: 25px;
    width: 100%;
    display: inline-block;
    text-decoration: none;
}

.submenu2 .ssmenu a, .ssmenu input
{
    color: #369;
}

.submenu2 .ssmenu a:hover, .ssmenu input:hover
{
    color: white;
}

.subhr
{
    width: 180px;
    margin: 1px 10px 0px 0px;
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid #265070;
    padding: 0;
}

.end
{
    height: 4px;
}

#menu li.menuitem a
{
    text-decoration: none !important;
}

.submenu
{
    background-color: #369;
    width: 180px;
    display: none;
    margin: 7px 0px 0px -75px;
    z-index: 999;
    font-size: 12px;
    position:absolute;
}

.submenu2
{
    background-color: white;
    display: none;
    z-index: 999;
    position: relative;
    font-size: 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.ssmenu:hover
{
    background-color: #407EBC;
    color: #f4f4f4;
}

#menu2 .ssmenu:hover
{
    background-color: #407EBC;
}

.innersub
{
    margin-left: -180px;
    margin-top: -25px;
    background-color: #305F8E;
}

.modal {
    display:    none;
    position:   absolute;
    min-height: 150px;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/images/loading.gif') 
                50% 50% 
                no-repeat;
}

.lilmodal {
    display:    none;
    position:   absolute;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/images/loading.gif') 
                50% 50% 
                no-repeat;
}

.smallmodal {
    display:    none;
    text-align: center;
    position:   absolute;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     35px;
    width:      100%;
    background: transparent url('/images/loading.gif') 50% no-repeat;
}

.loading  {
    overflow: hidden;   
    position: relative;
}

.loading .modal, .loading .lilmodal, .loading .smallmodal {
    display: block;
}

.loadingdiv
{
    height: 35px;
    width: 35px;
    margin: -3px 7px 0px 7px;
}

/* others that are spread out */

.displayemailspacing
{
    padding: 20px 30px;
}