﻿
/** First Time People */
.homewrapper
{
    margin: 0px 50px 0px 50px;
}

.branchheader{
    font-size: 22px;
    padding: 0px 0px 5px 0px;
}

.welcometext
{
    font-size: 24px;
    color: #8D2136;
    margin-bottom: 20px;
}

.hometext
{
    margin-bottom: 25px;
}

.innerhomediv
{
    margin-top: 10px;    
}

.divbg
{
    margin-bottom: 30px;
}

.searchbg
{
    position: relative;
    padding-left: 40px;
}

.searchbg img
{
    position: absolute;
    top: -18px;
    left: -20px;     
}

.padlockbg
{
    position: relative;
    padding-right: 180px;
    padding-left: 32px;
    border-left: 2px solid #ccc;
}

.padlockbg img
{
    position: absolute;
    right: 86px;
    top: 15px;    
}

.uploadbg
{
    position: relative;
    padding-right: 180px;
    padding-left: 32px;
    border-left: 2px solid #ccc;
}

.uploadbg img
{
    position: absolute;
    right: 90px;
    top: 15px;    
}

.browsebg
{
    position: relative;
    padding-right: 180px;
    padding-left: 32px;
    border-left: 2px solid #ccc;
}

.browsebg img
{
    position: absolute;
    right: 88px;
    top: 15px;    
}

/* Login */

.validationMessage
{
    color: red;
    font-size: 13px;
    text-align: left;
    margin-left: 5px;
}

.field-validation-error
{
    display: inline-block;
    padding: 5px 0px 5px 0px; /*padding: 0px 0px 10px 10px;*/
    color: red;
    font-size: 13px;
}

.apperror .field-validation-error, .loginLine .field-validation-error
{
    padding: 0px 0px 0px 0px;
}

.logindiv
{
    padding: 10px 20px;
}

.genbutton
{
    background-color: #8D2136;
    text-align:center;
    color:White;
    border: none;
    cursor: pointer;
    line-height: 28px;
    height: 29px;
    padding: 0px 20px;
    font-size: 14px;
}

.cancel
{
    background-color: #ccc;
    color: Red;    
}

.genbutton:hover, .forgottenpw:hover, .newregistration:hover
{
    opacity: 0.8;       
}

.loginLine
{
}

.txtdiv
{
    border: 1px solid #f9f9f9;
    border-radius: 2px 2px 2px 2px; 
    -moz-border-radius: 2px 2px 2px 2px; 
    -webkit-border-radius: 2px 2px 2px 2px; 
	-khtml-border-radius:  2px 2px 2px 2px; 
	margin: 10px 0px;
}

.txtdiv input, .textbox
{
    width: 350px;
    height: 40px;
    line-height: 25px;
    font-size: 16px;
    border: none;
    padding: 0px 10px;
    background-color: #f4f4f4;
}

.textbox2
{
    width: 350px;
    height: 27px;
    font-size: 15px;
    padding: 0px 5px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.textbox3
{
    width: 200px;
    height: 27px;
    font-size: 15px;
    padding: 0px 5px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.slash
{
    margin-right: 5px;
    margin-left: -5px;
    line-height: 30px;
    font-size: 20px;
}

.col-md-8
{
    text-align: center;
}

.loginheader
{
    margin:  0px auto 0px auto;
    font-size: 30px;
    padding-left: 30px;
    padding-top: 30px;
    text-align: left;
    width: 465px;
}

.loginsquare
{
    margin: 10px auto 50px auto;
    width: auto;
    padding: 20px 40px;
    background-color: white;
    display: inline-block;
    text-align: left;
}

.forgottenpw
{
    width: 20px;
    height: 20px;
    margin-top: 22px;
    cursor: pointer;
    margin-left: 15px;
    background: url(/images/qmark.png);
}

/** Application */
.noaccessmsg
{   
    font-size:21px;
    text-align: center;
    line-height: 200px;
    min-height: 200px;
}

.maindiv
{
    padding: 20px 20px;
    background-color: #f8f8f8;
}

.groupbox
{
    display: none;
    padding: 12px 0px 1px 0px;
}

.groupboxtitle
{
    margin-top: 10px;
    font-size: 18px;
    cursor: pointer;
}

.groupboxtitle:before
{
    vertical-align: text-bottom;
    content:url(/Images/arrow.png);
    margin-right: 5px;
}

.groupboxtitle:first-letter
{
    font-size: 25px;
    color: #8D2136;
}

.groupboxinnerwrap
{
    margin: 0px 0px 10px 20px;
}

.groupboxinnertitle
{
    cursor: pointer;  
    padding-left: 5px;  
}

.groupboxinnertitle:first-letter
{
    font-size: 20px;
    color: #8D2136;
}

.groupboxinner
{
    display: none;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px 10px 20px 20px;
    margin: 5px 0px 20px 0px;
}

.groupboxedit
{
    padding-top: 15px;
}

.groupboxedit .delbutton
{
    width: auto !important;
}

.editappwrap
{
    position: relative;
}

.editappwrap .genbutton
{
    margin-right: 50px;
}

.editappwrap .closebtn
{
    position: absolute;
    right: 0px;
    top: 15px;
}

.noitemsmsg
{
    margin: 0px 5px;
    font-size: 16px;
}

.apperror
{
    padding: 7px 0px 10px 5px;
}

.appgrpheader
{
    color: #369;
    padding-left: 5px;
}

.appgrpheader:first-letter, .popupinfoinner:first-letter
{
    font-size: 22px;
}

.columns {
    max-height: 250px;
    overflow: auto;
}

.applicationNames
{
    font-size: 15px;
    margin-bottom: 5px;
}

.smallertext
{
    font-size: 12px;
}

.hrclass
{
    border-top: 1px solid #ccc;
    margin: 4px 0px 0px 0px;
}

.hrclass2
{
    border-top: 1px solid #ccc;
    margin: 4px 0px 20px 0px;
}

.popupinfoinner
{
    color: #369;
    font-size: 15px;
}

ul
{
    padding-left: 15px; 
}

.delbutton
{
    margin: 0px 0px 0px 10px;
    float: left;
    width: 70px;
    height: 27px;
    line-height: 29px;
    padding: 0px 10px;
    background-color: #f9f9f9;
    color: red;
    border: 1px solid #ccc;
    cursor: pointer;
}

.privibtn
{
    margin-right: 10px;
    background-color: #369;
}

.transferbtn{
    background-color: #369;
}

.transferbtnbox .genbutton
{
    width: 70px;
    padding: 0px;
    font-size: 12px;
}

.transferremovebtn
{
    margin-top: 30px;
    background-color: red;
}

.unfocused
{
    opacity: 0.4;
    cursor: default;
}

.delbutton:hover{
    opacity: 0.7;
}

.formatinfo{
    padding: 0px 0px 5px 7px;
    font-style: italic;
    color: #666;
    font-size: 11px;
}

.transferboxes
{
    padding: 10px 0px 20px 0px;
}

.bigbox
{
    width: 330px;
    height: 100%;
}

.smallbox{
    width: 190px;
    height: 100%;
}

.transferbtnbox
{
    padding: 70px 10px 0px 10px;
}

.genbutton.unfocused
{
    opacity: 0.4 !important;    
}

.selectbox{
    width: 250px;
}

.select2-chosen
{
    font-size: 14px;
}

.approlesdiv
{
    
}

.demarcation
{
    border-left: 1px solid #ccc;
    height: 30px;
}

.defaultrolemsg
{
    margin: 10px 0px 0px 5px;
    font-size: 14px;
}

#selectappload
{
    margin-top: -12px;
}

.box
{
    padding: 5px 5px;
    border: 1px solid #ccc;
    height: 200px;
    box-sizing: border-box;
    overflow: auto;
}

.searchbox
{
    border: 1px solid #ccc;
    padding: 0px 20px 0px 10px;
    width: 100%;
    box-sizing: border-box;
    height: 25px;
    background: url(/Images/magnifysmall.png) no-repeat;
    background-position: right 3px center;
}

.prividiv, .privigrp
{
    font-size: 14px;
    line-height: 27px;
    padding: 0px 5px;
    cursor: pointer;
}

.toppadding
{
    padding-top: 15px;
}

.priviheading
{
    padding-left:  5px;
    margin-bottom:  5px;
    margin-top:  5px;
    font-size: 13px;
    color: #369;
}

.selected
{
    background-color: lightblue;
}

.selectstaffdiv
{
    margin-right: 10px;
}

#shareappdiv
{
    padding-top: 10px;
}

.shiftspinnerup
{
    margin-top: -11px !important;
}

.nostaffmsg
{
    margin-top: 20px;
    padding-left: 3px;
}

.alloweduser
{
    line-height: 30px;
    padding: 0px 10px 0px 5px;
    min-width: 357px;
}

.branchesdiv
{
    padding: 0px 0px 10px 0px;
}

#createappadmindiv .apperror
{
    padding: 7px 0px 0px 0px !important;
}

.createtext {
    margin: 0px 0px 5px 0px;
    color: #666;
    font-style: italic;
}

.capitalize{
    text-transform: capitalize;
}