﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UMA Web Api</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body id="wrapper">
    <div class="page-wrap">
        <div style="width: 980px" class="content-wrapper">
            <a href="/"><div class="irislogo left"></div></a>
            <div class="logo left">U.M.A Web Api</div>
            <div class="clear"></div>
        </div>
        <div class="menubar">
            <div class="menux">
                <a class="menulink" href="/"><div class="menuitemx">Getting Started</div></a>
                <a class="menulink" href="/Help"><div class="menuitemx">Documentation</div></a>
                <a class="menulink" href="http://localhost:28749/"><div style="float:right" class="menuitemx">Return To U.M.A</div></a>
                <div class="clear"></div>
            </div>
        </div>

        <div class="contentwrapper">
            <div id="content" class="shadow">
                <div class="transpbg"></div>
                @RenderSection("featured", required: false)
                <section class="renderbody main-content clear-fix">
                    @RenderBody()
                </section>
            </div>
        </div>
    </div>
    <footer class="site-footer">
        <div class="footernote">©@(DateTime.Now.Year) - Iris Smart Technologies Ltd</div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
